body {
    background-color: black;
    color: rgb(245, 18, 196);
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  h1{
    color: aqua;
    margin-bottom: 12rem;
    font-size: 3rem;
  }

  button{
    padding: 0.70rem;
    font-size: 3rem;
    transition: transform 0.5s, background-color 0.2s;
  }
  #computerText ,#playerText{
    font-size: 3rem;
  }

  #computerText{
    color: rgb(220, 210, 21);
  }

  button:active {
    transform: scale(3.1);
    background-color: rgba(255, 255, 255, 0.2);
}